
#title {
    color: dodgerblue;
}

#slogan {
    color: darkblue;
}

body {
    margin: 10px 400px 100px 400px
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

body {
    
    justify-content: center;
}

body {
    background-color: beige;
    
}





